/*---------------HTML Styling-------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    line-height: 20pt;
}

html {
    height: 100%;
}

body {
    background-image: url("../images/funky-lines.png");
    margin: 0;
    min-height: 100%;
    position: relative;
}

.container {
    width: 960px;
    margin: 30px auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: auto;
    clear: both;
    overflow: auto;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 30px 0px;
    margin: 0 30px 30px 30px;
    border-bottom: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    display: inline;
    font-size: 18px;
    color: #777777;
}

/*---------------Header Styles-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

.header {
    background-color: #ffffff;
    top: 0;
    width: 100%;
    height: 78px;
    border-bottom: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow-x: visible;
    left: 0;
    right: 0;
}

.nav {
    width: 960px;
    margin: 0 auto;
    height: 78px;
}

.nameheader {
    background-color: #4aaaa5;
    display: inline-block;
    height: 77px;
    width: auto;
    margin: 0px;
    padding: 20px;
    font-size: 28px;
    color: #ffffff;
}

.navigation {
    float: right;

}

ul {
    height: 79px;
    margin: 0;
    padding:30px 0;
}

li {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    padding: 0 20px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width: 1px; 
    z-index: 10;
    cursor: pointer;
}

li:last-child {
    padding-right: 0;
    border: none;
}

/*---------------About Me-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

.container img {
    width: 250px;
    margin: 0 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    float: left;
}

.paragraph {
    width: auto;
    margin: 0 30px 30px 30px;    
}


/*---------------Contact Page-----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


.container form {
    padding: 30px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.container input {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container textarea {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 200px;
}

.container .submit {
    width: auto;
    background-color: #4aaaa5;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
}

/*--------------Portfolio---------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/
.projectset {
    margin: 0 60px;
    width: 100%;
    height: auto;
}

.project {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 15px;
    
}

.project img {
    margin:0;
}

.title {
    position: absolute;
    width: 250px;
    height: auto;
    background-color: #4aaaa5;
    text-align: center;
    bottom: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 0;
    font-size: 20px;
}
/*---------------Footer-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


.footer {
    background-color: #666666;
    height: 78px;
    width: 100%;
    bottom: 0;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    position: absolute;
    margin-top: 30px;   
}

.footer p {
    color: #ffffff;
    margin: 0 auto;
    max-width: 70px;
    font-size: 12px;
    padding-top: 45px;
    display: block;
}

.push {
    height: 78px;
    margin: auto;
}