/*---------------HTML Styling-------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("../images/funky-lines.png");
    margin: 0;
    min-height: 100%;
    position: relative;
}

.container {
    width: 960px;
    margin: 30px auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: auto;
    clear: both;
    overflow: auto;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 30px 0px;
    margin: 0 30px 30px 30px;
    border-bottom: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/*---------------Header Styles-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

.header {
    background-color: #ffffff;
    top: 0;
    width: 100%;
    height: 78px;
    z-index: -1;
    border-bottom: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* position: relative; */
    overflow-x: visible;
    left: 0;
    right: 0;
}

.nav {
    width: 960px;
    margin: 0 auto;
    height: 78px;
}

.nameheader {
    background-color: #4aaaa5;
    display: inline-block;
    height: 77px;
    width: auto;
    margin: 0px;
    padding: 20px;
    font-size: 28px;
    color: #ffffff;
}

.navigation {
    float: right;

}

ul {
    height: 79px;
    margin: 0;
    padding:30px 0;
}

li {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    padding: 0 20px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width: 1px; 
    z-index: 10;
}

li:last-child {
    padding-right: 0;
    border: none;
}

/*---------------About Me-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

.container img {
    width: 250px;
    margin: 0 30px 30px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    float: left;
}



/*---------------Contact Page-----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


.container form {
    padding: 30px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.container input {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container textarea {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container .submit {
    width: auto;
    background-color: #4aaaa5;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
}

/*---------------Footer-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


.footer {
    background-color: #666666;
    height: 78px;
    width: 100%;
    bottom: 0;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    position: absolute;
    margin-top: 30px;   
}

.footer p {
    color: #ffffff;
    margin: 0 auto;
    max-width: 61px;
    font-size: 12px;
    padding-top: 45px;
}

.push {
    height: 78px;
    margin: auto;
}